{% extends "dashboard/base.html" %}
{% block title %}规则列表{% endblock %}

{% block body %}
<div class="pad margin no-print" style="padding-left: 0px;margin-left: 0px;">
  <div class="callout callout-info" style="margin-bottom: 0!important;">
    <h4><i class="fa fa-info"></i> 说明：</h4>
      当规则状态为关闭时，无论是否勾选该规则，仍然会跳过该规则。</br>
  </div>
</div>
<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">规则列表</h3>
              <div class="box-tools pull-right">
                <div class="btn-group">
                  <button class="btn btn-xs btn-default lang-filter active" data-lang="all">全部</button>
                  <button class="btn btn-xs btn-default lang-filter" data-lang="php">PHP</button>
                  <button class="btn btn-xs btn-default lang-filter" data-lang="python">Python</button>
                  <button class="btn btn-xs btn-default lang-filter" data-lang="javascript">JS</button>
                  <button class="btn btn-xs btn-default lang-filter" data-lang="java">Java</button>
                  <button class="btn btn-xs btn-default lang-filter" data-lang="go">Go</button>
                  <button class="btn btn-xs btn-default lang-filter" data-lang="c">C</button>
                </div>
                <input type="text" id="ruleSearch" class="form-control input-sm pull-right" style="width:200px;" placeholder="搜索规则名/CVI/描述...">
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover km-table km-table-wide" id="ruleTable">
                <thead>
                  <tr>
                    <th class="km-col-id">ID</th>
                    <th>规则名</th>
                    <th class="km-td-nowrap">SVID</th>
                    <th class="km-td-nowrap">语言</th>
                    <th class="km-td-nowrap">作者</th>
                    <th>描述</th>
                    <th class="km-td-nowrap">状态</th>
                    <th class="km-td-nowrap">匹配模式</th>
                  </tr>
                </thead>
                <tbody>
                  {% for rule in rules %}
                  <tr data-lang="{{ rule.language|lower }}">
                    <td class="km-td-nowrap">{{ rule.id }}</td>
                    <td>
                      <div class="km-cell-title">
                        <a class="km-link-strong" href="{% url 'dashboard:rule_detail' rule.id %}" title="{{ rule.rule_name|escape }}">{{ rule.rule_name }}</a>
                      </div>
                    </td>
                    <td class="km-td-nowrap">{{ rule.svid }}</td>
                    <td class="km-td-nowrap">{{ rule.language }}</td>
                    <td class="km-td-nowrap">{{ rule.author }}</td>
                    <td><div class="km-cell-config" title="{{ rule.description|escape }}">{{ rule.description }}</div></td>
                    <td class="km-td-nowrap">
                      {% if rule.status %}
                      <span class="label label-success">开启</span>
                      {% else %}
                      <span class="label label-info">关闭</span>
                      {% endif %}
                    </td>
                    <td class="km-td-nowrap">{{ rule.match_mode }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      </div>
{% endblock %}

{% block script %}

<script>
      $(document).ready(function () {
          $("#dashboard").removeClass("active menu-open");
          $("#dashboard").find("ul li").removeClass("active");
          $("#rules").addClass("menu-open");
          $("#rules").find("ul").find("li#rule_list").addClass("active");
          $("#rules").find("ul").css("display","block");

          // 规则筛选
          var curLang = 'all', curSearch = '';
          function filterRules(){
            $("#ruleTable tbody tr").each(function(){
              var $r = $(this);
              var t = $r.text().toLowerCase();
              var m1 = curLang==='all' || $r.data('lang')===curLang;
              var m2 = !curSearch || t.indexOf(curSearch)>=0;
              $r.toggle(m1 && m2);
            });
          }
          $(".lang-filter").click(function(){
            $(".lang-filter").removeClass("active btn-primary").addClass("btn-default");
            $(this).addClass("active btn-primary").removeClass("btn-default");
            curLang = $(this).data('lang');
            filterRules();
          });
          $("#ruleSearch").on("input", function(){
            curSearch = $(this).val().toLowerCase().trim();
            filterRules();
          });
      });
</script>


{% endblock %}
